body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(../images/programming-background-with-person-working-with-codes-computer.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-width: 1400px;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  margin: auto;
}

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  /* display: flex; */
  color: rgb(255, 255, 255);
  font-size: 58px;
  font-weight: 600;
  /* font-style: italic; */
  /* text-align: center; */
  /* background-color: rgb(0, 0, 0, 0.5); */
}

.initial-box {
  display: flex;
  /* justify-self: flex-end;
  align-self: flex-end; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.initial {
  display: flex;
  color: aquamarine;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
}

.social-ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 5px;
}

.fa-square-github {
  font-size: 30px;
  color: rgb(255, 255, 255);

  &:hover {
    color: rgb(255, 255, 255);
    transform: scale(0.9);
  }
}

.fa-linkedin {
  font-size: 30px;
  color: rgb(10, 102, 194);

  &:hover {
    color: rgb(255, 255, 255);
    transform: scale(0.9);
  }
}

.profil-bild {
  display: flex;
  width: 250px;
  height: auto;
  border-width: 2px;
  border-style: solid;
  border-color: aquamarine;
  border-radius: 5px;
}

ul {
  list-style: none;
}

a:hover {
  color: aquamarine;
}

a:focus {
  color: rgb(0, 131, 192);
}

.nav-li {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 1000;
  font-style: italic;
  text-align: left;
  text-decoration: underline;
}

.rubriker {
  color: aquamarine;
  font-size: 44px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.4);
}

.p-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
}

.merinfo,
.li {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}

.copy {
  color: whitesmoke;
  font-size: 20px;
  padding: 5px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 193, 251, 0.3);
  border-radius: 8px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.freepik {
  color: aqua;

  &:hover {
    color: rgb(252, 255, 251);
  }
}

@media screen and (max-width: 1399px) {
  .rubriker,
  .p-text {
    margin: 10px auto;
    width: 80%;
  }
}

@media screen and (max-width: 426px) {
  .title {
    font-size: 26px;
  }
}

@media screen and (max-width: 375px) {
  html {
    overflow-x: hidden;
  }
  .footer-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 424px) {
  .lifeChanger {
    width: 100%;
    font-size: 38px;
  }
}
